*{
    margin: 0;
    padding: 0;
}

.main-header{
    background: linear-gradient(#38B6FF, #186EC8);
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    font-family: 'Unbounded', cursive;
}

.header-info{
    text-align: left;
    color: #0a3f63;
    padding: 0px;
    margin: 14px;
    position: absolute;
    left: 0px;
}

.header-info a{
    padding: 0;
    text-decoration: none;
}

.header-info a:hover{
    background-color: transparent
}

nav{
    position: absolute;
    right: 0;
    display: flex;
}

a{
    text-decoration: none;
    color: #0a3f63;
    padding: 15px;
    float: left;
}

a:hover{
    color: rgb(179, 222, 255);
}

i{
    padding-right: 5px;
}

main {
    margin-top: 50px;
}

#jumbotron {
    width: 100%;
}

.jumbotron {
    padding: 20px;
    text-align: center;
    background-color: #186EC8;
    font-family: 'Unbounded', cursive;
}

.header-flex {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.jumbotron-title {
    color: rgb(224, 251, 252);
    font-size: 30px;
    padding-bottom: 20px;
}

.jumbotron-text {
    color: rgb(224, 251, 252);
    text-align: center;
    padding-bottom: 20px;
}

.jumbotron-img {
    height: 300px;
    border-radius: 10px;
}

/* .mini-text-flex {
    display: flex;
    justify-content: flex-start;
} */

.mini-text{
    color: rgb(224, 251, 252);
    text-align: center;
    margin-right: 5px;
    font-size: 20px;
}

.fa-arrow-up {
    color: aliceblue;
    font-size: 20px;
}

.fa-arrow-down {
    color: aliceblue;
    font-size: 20px;
}

.icon-down {
    display: none;
}

button {
    background-color: rgb(54, 0, 69);
    border-style: none;
}

button:hover {
    cursor: pointer;
    transform: translateY(5px) ;
}


footer{
    background: linear-gradient(#186EC8, #38B6FF);
    font-family: 'Unbounded', cursive;
}

.center-footer{
    margin: 0 20px;
}

.main-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #0a3f63;
}

.info-top{
    text-align: center;
    width: 100%;
    padding-top: 5px;
    color: #0a3f63;
}

.info-center{
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
    border-top: 2px solid #0a3f63;
    color: #0a3f63;
}

.social-media{
    display: flex;
    justify-content: center;
}

.fa-square-whatsapp, .fa-envelope{
    padding-left: 20px;
    font-size: 20px;
    color: #0a3f63;
}

.section-slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.image-slider{
    position: relative;
    width: 640px;
    height: 426px;
    z-index: 20;
}

.slide{
    width: 100%;
    position: absolute;
    clip-path: circle(0% at 0 50%);
}

.slide img{
    width: 100%;
    border-radius: 15px;
}

.slide-text{
    position: absolute;
    bottom: 50px;
    left: 30px;
    background-color: rgba(235, 235, 235, 0.609);
    padding: 15px;
    border-radius: 10px;
}

.slide-text h2{
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: black;
}

.slide-text p{
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: black;
}

.navigation{
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-btn{
    background-color: rgb(157, 157, 157);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.slider-btn.active{
    background-color: rgb(54, 0, 69);
}

.main-content{
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

.content{
    max-width: 90%;
    font-family: 'Unbounded', cursive;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

.project {
    margin: 10px 30px;
    border-bottom: 10px solid #186EC8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 0px 10px rgb(134, 134, 134);
}

.project-title {
    color: #000000;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

.item-video{
    text-align: center;
}

article{
    max-width: 100%;
}

.article-title{
    text-align: center;
    font-size: 30px;
    margin: 50px 0 30px;
}

.maps{
    padding: 1px;
    text-align: center;
}

.map-title{
    text-align: center;
    font-size: 30px;
    margin: 50px 0 30px;
}

iframe{
    justify-content: center;
    padding: 10px;
    box-shadow: 5px 0px 10px rgb(134, 134, 134);
}

.page-title {
    padding: 10px;
    margin: 0;
}
   
.page-title h1{
    text-align: center;
    padding: 0;
    font-size: 30px;
    font-family: 'Unbounded', cursive;
}

.all-projects {
    margin-top: 5%;
}
   
.project-detail {
    margin: 50px 30px 100px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 0px 10px rgb(134, 134, 134);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-description {
    margin: 5px;
    padding: 10px
}

.project-description h2{
    text-align: left;
    margin: 0 5px 5px;
    padding: 0;
    font-size: 23px;
    font-family: 'Unbounded', cursive;
}

.project-description p {
    margin: 20px 5px;
    padding: 5px;
    line-height: 1.8;
    text-indent: 40px;
    text-align: center;
    font-size: 25px;
}

.section-container {
    text-align: center;
    padding: 10px;
}
   
.section-title {
    font-size: 40px;
    margin: 50px 0 0;
    font-family: 'Unbounded', cursive;
}
   
.section-subtitle {
    font-size: 20px;
    color: gray;
    margin: 10px 0 0;
    font-family: 'Unbounded', cursive;
}
 
.about-flex-item {
    display: block;
}

.about-image {
    margin: 0;
}
   
.blob-image {
    width: 350px;
    height: auto;
    text-align: center;
}

.about-description p {
    color: black;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 25px;
}
  
.about-description h4 {
    color: gray;
    letter-spacing: 2px;
}

@media (max-width: 900px) {
    * {
        font-size: 2.5vw;
        padding: 0px;
        margin: 0px;
    }

    .article-title {
        font-size: 4vw;
    }
       
    .project-container {
        display: block;
    }
       
    .project-container {
        margin-bottom: 20px;
    }
       
    .project img {
        max-width: 100%;
        max-height: 20%;
    }
}